$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-32: 32px;
$font-700: 700;

$color-grey-light: #f5f5f7;
$color-grey-slight: #e5e5e5;
$color-grey-dark: #828282;
$color-grey: #bdbdbd;
$color-grey-mlight: #e0e0e0;
$color-white: #fff;
$color-black: #010101;
$color-blue: #0075de;
$color-blue-light: #86c6ff;
$color-red: #ff4343;
$color-red-light: #ffeeec;
