#main {
    padding: 24px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.schedule-column {
    width: 308px;
    &__header {
        @include flex-layout(unset, center);
    }

    &__title {
        height: 26px;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 26px;
        color: map-get($colors, black);
        margin: 0px 8px;
    }

    &__count {
        &-box {
            @include flex-layout(center, center);
            padding: 0px;
            width: 26px;
            height: 26px;
            background: map-get($colors, gray);
            border-radius: 20px;
            margin: 0 auto 0 0;
        }

        &-number {
            width: 26px;
            height: 26px;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 20px;
            @include flex-layout(unset, center);
            text-align: center;
            color: map-get($colors, black);
            margin: 0px 10px;
        }
    }
    &__add-btn:hover {
        path {
            fill: map-get($colors, blue);
        }
    }

    &__cards-container {
        height: 500px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
    }
}

.column-btn {
    width: 12px;
    height: 12px;
    margin: 0px 8px;
}

.schedule-card {
    @include flex-layout(auto, flex-start);
    padding: 16px;
    width: 308px;
    min-height: 108px;
    background: map-get($colors, white);
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
    margin: 16px 0px;

    &__text-container {
        flex-direction: column;
        @include flex-layout(auto, flex-start);
        width: 252px;
        min-height: 76px;
    }

    &__title {
        min-height: 23px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 23px;
        word-break: break-all;
        color: map-get($colors, black);
    }

    &__body {
        min-height: 20px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 20px;
        word-break: break-all;
        color: map-get($colors, black);
        margin: 8px 0px;
    }

    &__caption {
        height: 17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: map-get($colors, gray);
    }

    &__delete-btn {
        margin-left: auto;
        width: 12px;
        height: 12px;

        path {
            fill: map-get($colors, dark-gray);
        }
    }

    &--active-red {
        background: map-get($colors, white-red);
        border: 1px solid map-get($colors, red);
        box-sizing: border-box;

        path {
            fill: map-get($colors, red);
        }
    }
}

.schedule-register-card {
    @include flex-layout(auto, flex-start);
    flex-direction: column;
    padding: 16px;
    width: 308px;
    min-height: 108px;
    background: map-get($colors, white);
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
    margin: 16px 0px;
    border: 1px solid map-get($colors, blue);

    &__text-container {
        flex-direction: column;
        @include flex-layout(auto, flex-start);
        width: 100%;
        min-height: 76px;
    }

    &__title {
        min-height: 23px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 23px;
        color: map-get($colors, black);
        width: 100%;
    }

    &__body {
        min-height: 20px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 20px;
        color: map-get($colors, black);
        margin: 8px 0px;
        width: 100%;
    }

    &__btns-container {
        @include flex-layout();
    }

    &__cancel-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        background: map-get($colors, light-gray);
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, dark-gray);
    }

    &__register-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        border-radius: 6px;
        margin-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, white);
    }
}

.schedule-delete-confirm {
    flex-direction: column;
    padding: 24px;
    position: absolute;
    width: 400px;
    height: 138px;
    left: 40%;
    top: 40%;
    background: map-get($colors, white);
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
        0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 6px;

    p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 26px;
        color: map-get($colors, black);
    }

    &__btns-container {
        @include flex-layout(unset, flex-start);
        width: 276px;
        height: 40px;
        margin-top: 24px;
        margin-left: 76px;
    }

    &__cancel-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        background: map-get($colors, light-gray);
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, dark-gray);
    }

    &__delete-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        border-radius: 6px;
        margin-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, white);
        background-color: map-get($colors, blue);
    }
}

.schedule-edit-card {
    @include flex-layout(auto, flex-start);
    flex-direction: column;
    padding: 16px;
    width: 308px;
    min-height: 108px;
    background: map-get($colors, white);
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
    margin: 16px 0px;
    border: 1px solid map-get($colors, blue);

    &__text-container {
        flex-direction: column;
        @include flex-layout(auto, flex-start);
        width: 100%;
        min-height: 76px;
    }

    &__title {
        min-height: 23px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 23px;
        word-break: break-all;
        color: map-get($colors, black);
        width: 100%;
    }

    &__body {
        min-height: 20px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 20px;
        word-break: break-all;
        color: map-get($colors, black);
        margin: 8px 0px;
        width: 100%;
    }

    &__btns-container {
        @include flex-layout();
    }

    &__cancel-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        background: map-get($colors, light-gray);
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, dark-gray);
    }

    &__edit-btn {
        padding: 10px;
        width: 134px;
        height: 40px;
        border-radius: 6px;
        margin-left: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: map-get($colors, white);
    }
}

.schedule-card--afterimage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 308px;
    min-height: 108px;
    background: map-get($colors, white);
    opacity: 0.4;
    border: 1px solid map-get($colors, blue);
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
    margin: 16px 0px;
}

.schedule-drag-card {
    @include flex-layout(auto, flex-start);
    position: absolute;
    padding: 16px;
    width: 308px;
    min-height: 108px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
        0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    z-index: 1;
    user-select: none;
}
