$black: #010101;
$white: #fff;
$gray: #828282;
$light-gray: #bdbdbd;
$blue: #0075de;
$dark-blue: #00529b;
$light-blue: #86c6ff;

$component-bg-color: $white;
$main-font-color: $black;
$sub-font-color: $gray;

$button-bg-color-gray: $gray;
$button-bg-color-light-gray: #e0e0e0;
$button-bg-color-blue: $blue;
$button-bg-color-dark-blue: $dark-blue;
$button-bg-color-light-blue: $light-blue;
$button-main-font-color: $white;
$button-sub-font-color: $gray;