$color-black: #010101;
$color-white: #fff;
$color-red: #FF4343;
$color-white-red: #FFEEEC;
$color-white-gray: #bdbdbd;
$color-light-gray: #828282;
$color-silver: #e0e0e0;
$color-gray: rgba(224, 224, 224, 0.3);
$color-deep-gray: rgba(28, 28, 28, 0.522);
$color-blue: #0075de;
$color-light-blue: #86c6ff;
$color-background-body: #e5e5e5;
$color-background-activity: #edf9e7;
$font-default: "Noto Sans KR";
$transition-sidebar: 0.2s ease-out;