$color-black : #010101;
$color-white: #fff;
$color-white-gray : #BDBDBD;
$color-light-gray: #828282;
$color-gray : rgba(224, 224, 224, 0.3);
$color-background-body: #e5e5e5;
$color-background-activity: #edf9e7;
$font-default : 'Noto Sans KR';
$transition-sidebar: 0.4s ease-out;