@import url(menu-icon.css);

.sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 1024px;
  padding: 100px 40px 0;
  transition: all .45s;
}

#menu-icon:checked + label + div {
  right: -40px;
}