.edit-input-wrapper {
  padding: 0;
}

.input-wrapper {
  padding: 16px;
}

.input-wrapper,
.edit-input-wrapper {
  border-radius: 6px;
  background: $color-white;

  .input-header {
    color: $color-grey-dark;
    font-weight: $font-700;
    font-size: $font-16;
    margin-bottom: 8px;
    border: none;
    outline: none;
  }

  .input-content {
    display: block;
    margin-bottom: 16px;
    border: none;
    outline: none;
  }

  .input-button-wrapper {
    display: flex;
    .input__button {
      width: 134px;
      height: 40px;
      border-radius: 6px;
      font-size: $font-14;
      cursor: pointer;
      border: none;
      outline: none;
    }

    .input--cancel,
    .edit-input--cancel {
      background: $color-grey-mlight;
      color: $color-grey-dark;
      margin-right: 8px;
    }

    .input--register,
    .edit-input--register {
      color: $color-white;
    }
  }
}
