.no-display {
  display: none;
}

.bg-sky-blue {
  background: #86c6ff;
}

.bg-blue {
  background: #0075de;
}

.todo-border {
  border: 1px solid $color-blue;
}

.spectrum {
  opacity: 0.6;
  border: 1px solid $color-blue;
}
