@import 'reset';
@import 'variables';
@import 'utilities';
@import 'mixins';
@import 'alarm';
@import 'input';

body {
  background: $color-grey-light;
}
.header__main {
  width: 1440px;
  height: 112px;
  @include flexbox(space-between);
  align-items: center;
  @include margincenter();
  .header__title {
    font-size: $font-32;
  }
  .header__menu {
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background: $color-black;
      margin: 5px 0;
    }
  }
}
.column-section {
  width: 1440px;
  display: flex;
  @include margincenter();
}

.column-list {
  margin-right: 30px;
  .column {
    width: 308px;
    height: 42px;
    @include flexbox(space-between);
    &__left {
      gap: 5px;
      @include flexbox(inherit, center);
    }
    &__title {
      font-size: $font-18;
      font-weight: $font-700;
    }
    &--count {
      width: 26px;
      height: 26px;
      background: $color-grey;
      border-radius: 50%;
      text-align: center;
      line-height: 26px;
    }
    &__right {
      color: $color-grey;
      gap: 5px;
      @include flexbox(inherit, center);
    }
    &__add {
      font-size: $font-20;
      cursor: pointer;
    }
    &__delete {
      font-size: $font-20;
      cursor: pointer;
    }
  }
  .card {
    width: 308px;
    background: $color-white;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;
    header {
      @include flexbox(space-between);
      h3 {
        font-weight: bold;
        color: $color-black;
      }
    }
    &__content {
      margin: 8px 0;
      &-text {
        margin-bottom: 5px;
      }
    }
    &__author-text {
      color: $color-grey;
    }
  }
}
