.column-list {
  display: flex;
  gap: 16px;
}

.column {
  max-width: 308px;

  &__header {
    @include flex(space-between);
    margin: 0 8px 16px;

    &__content {
      @include flex();
    }

    &--title {
      font-size: 18px;
      font-weight: 700;
    }

    &--card-count {
      @include flex();
      border-radius: 100%;
      width: 26px;
      height: 26px;
      background-color: $gray-strong;
      font-size: 14px;
      margin-left: 8px;
    }

    &__btn {
      @include flex();
      gap: 20px;
      margin-right: 8px;
    }

    &--add-card {
      filter: $filter-gray;
      &:hover {
        filter: $filter-blue;
      }
    }

    &--delete-card {
      filter: $filter-gray;
      &:hover {
        filter: $filter-red;
      }
    }
  }
}
