@mixin flexbox($main: center, $cross: center) {
  display: flex;
  align-items: $cross;
  justify-content: $main;
}

@mixin inline-flexbox($main: center, $cross: center) {
  display: inline-flex;
  align-items: $cross;
  justify-content: $main;
}

@mixin column-flexbox($cross: center, $main: center) {
  display: flex;
  flex-direction: column;
  align-items: $main;
  justify-content: $cross;
}