.column__task {
  &--count {
    @include flex();
    @include font(14px, 700);
    flex-direction: row;
    width: 26px;
    height: 26px;
    padding: 0px;
    background: $color-white-gray;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
  }

  &--list {
    @include flex(flex-start);
    flex-direction: column;
    width: 308px;
    height: 100%;
    margin-top: 8px;
  }

  &--item {
    @include flex(flex-start, flex-start);
    flex-direction: row;
    margin-bottom: 16px;
    width: inherit;
    min-height: 76px;
    padding: 16px;
    background: $color-white;
    box-shadow: 0px 1px 30px $color-gray;
    border-radius: 6px;
    cursor: grab;

    section {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      flex: 1;
      height: 100%;
      border-radius: 8px;
      cursor: inherit;
    }
  }

  &--title {
    @include font(16px, 700);
    width: 100%;
    border: none;
    line-height: 23px;
    color: $color-black;
    cursor: inherit;
  }

  &--comment {
    @include font(14px, 400);
    width: 100%;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    color: $color-black;
    line-height: 20px;
    resize: none;
    overflow: hidden;
    cursor: inherit;
  }

  &--author {
    @include font(12px, 400);
    color: $color-white-gray;
    line-height: 17px;
    cursor: inherit;
  }

  &--add-button {
    &:hover {
      cursor: pointer;
      filter: invert(48%) sepia(97%) saturate(5052%) hue-rotate(193deg) brightness(90%) contrast(101%);
    }
  }

  &--button {
    @include flex(space-between);

    button {
      @include font(14px, 700);
      color: $color-white;
      width: 134px;
      height: 40px;
      border: none;
      border-radius: 6px;
      padding: 10px;
    }
  }

  &--cancel-button {
    background-color: $color-silver;
    margin-right: 8px;
  }

  &--accent-button {
    background-color: $color-blue;
  }
}

.section__header {
  width: 100%;
  @include flex(space-between);
}

.dragging {
  position: absolute;
  z-index: 1000;
  cursor: grabbing;
}

.grabbing {
  cursor: grabbing;
}

.hidden {
  display: none;
}

.blur {
  opacity: 0.5;
  border: 1px solid $color-blue;
}

.registration-card {
  border: 1px solid $color-blue;
  box-shadow: 0px 1px 30px 0px #e0e0e04d;
}

.inactivation {
  .column__task--accent-button {
    background-color: $color-light-blue;
  }
}

.delete-border {
  border: 1px solid $color-red;
}

.delete-background {
  background-color: $color-white-red;
}

.delete-hover {
  cursor: pointer;
  filter: invert(41%) sepia(95%) saturate(2569%) hue-rotate(332deg) brightness(100%) contrast(110%);
}