body {
  background-color: $background;
  padding: 0 80px;
}

.header {
  @include flexbox(between);
  padding: 33px 0;

  &__title {
    font-size: 32px;
  }
}

.main {
  @include flexbox(start, start);
  width: 100%;
  height: 100%;
}

.column {
  width: 308px;
  margin-right: 16px;
}
.title-column {
  @include flexbox(between);
  margin-bottom: 16px;
  &__title {
    @include flexbox();
    &__text {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    &__count {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 700;
      background-color: $gray2;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      text-align: center;
      line-height: 29px;
    }
  }
  &__btn {
    @include flexbox();
    &__add {
      margin: 0 5px;
    }
    &__delete {
      margin: 0 5px;
    }
  }
}
