.history {
  @include flex(flex-start, flex-start);
  gap: 16px;

  max-width: 332px;
  max-height: 137px;
  padding: 16px;

  &:first-child {
    margin-top: 19px;
  }

  &--profile-img {
  }

  &__item {
    &--name {
      font-weight: 400;
    }
    &--activity {
      margin: 8px 0;
    }
    &--time-record {
      font-size: 14px;
      color: $gray-strong;
    }
  }

  &--close-btn {
    position: absolute;
    right: 112px;
  }
}
