aside {
  float: right;
}

.sidebar__list {
  width: 452px;
  height: 1024px;
  padding: 80px 80px 80px 40px;
  background-color: $color-white;
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar__item {
  @include flex(flex-start);
  width: 332px;
  height: 137px;
  background-color: $color-background-activity;
  font-size: 16px;

  &--profile {
    width: 40px;
    height: 40px;
    margin: 16px;
  }

  section {
    margin: 16px 16px 16px 0px;
  }

  &--activity {
    width: 244px;
    height: auto;
    white-space: normal;
  }

  &--time-stamp {
    font-size: 14px;
    color: $color-light-gray;
  }

  &--nickname,
  &--activity,
  &--time-stamp {
    padding: 8px 0px;
  }
}
