.history__bar {
  background-color: $card-body;
  display: block;
  position: absolute;
  top: 0;
  right: -492px;
  transition: 0.2s ease-out;
  max-width: 452px;
  height: 1024px;
  max-height: 1024px;
  padding: 50px 80px 0 40px;
  overflow: scroll;

  &.show {
    right: 0px;
  }
}

.history-list {
}
