.sidebar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
<<<<<<< HEAD
  background-color: var(--light-gray);
=======
  background-color: #ececec;
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.5);
  border-radius: 6px;
  cursor: pointer;
}

.sidebar-card span {
  padding: 10px;
}

.sidebar-card--id {
  font-size: 14px;
}

.side-card--content {
  font-size: 15px;
}

.sidebar-card--minute {
<<<<<<< HEAD
  color: var(--transparency-gray);
  font-size: 12px;
}
=======
  color: #bdbdbd;
  font-size: 12px;
}
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
