@import "@/scss/variable.scss";

.log {
  display: flex;
  width: 332px;
  height: 137px;
  padding-bottom: 16px;

  &-container {
    background-color: $white;
    width: 450px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 101;
    transition: all ease-out 0.7s;
    transform: translateX(100%);

    &.is-opened {
      transform: translateX(0%);
    }
  }

  &-list {
    margin: 80px 80px 0px 40px;
    overflow-y: scroll;
    max-height: 850px;
    -ms-overflow-style: none;
  }

  &-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  &__close-btn {
    width: 24px;
    height: 24px;
    background: url(../../../images/close.png);
    position: absolute;
    right: 80px;
    top: 40px;
    cursor: pointer;
  }

  &__emoji {
    width: 40px;
    text-align: center;
    font-size: 1.25rem;
    margin-right: 10px;
  }

  &-contents {
    &__description {
      font-size: 0.875rem;
      width: 244px;
      margin: 8px 0px;
      font-weight: 600;
    }

    &__time {
      font-size: 0.75rem;
      color: $gray;
    }
  }
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  z-index: 100;
  display: none;

  &.log-opened {
    display: block;
  }
}
