.header {
  @include flex(space-between);
  margin-bottom: 33px;

  & h1 {
    font-size: 32px;
    font-weight: 400;
  }

  &--history-btn {
    height: max-content;
    background-color: transparent;
    cursor: pointer;
  }
}
