body {
  background-color: $gray-body;
  margin: 0 auto;

  .todo-container {
    position: relative;
    max-width: 1440px;
    min-width: 1000px;
    min-height: 700px;
    max-height: 1024px;
    margin: 0 auto;
    padding: 33px 80px;
  }
}
