.container {
  background-color: var(--white);
  width: 90%;
  padding: 16px;
  box-shadow: 0px 1px 30px var(--gray);
  border-radius: 6px;
}

.column-item--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--light-gray);
  width: 90%;
  padding: 16px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.5);
  border-radius: 6px;
  cursor: move;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-header h3 {
  font-weight: bold;
}

.card-header .delete-btn {
  border: none;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
}
.card-content {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
.card-author {
  color: var(--transparency-gray);
  font-size: 12px;
}

.column-item--card.dragging {
  opacity: 0.5;
}

.card-title {
  background-color: var(--light-gray);
  width: 249px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.card-contents {
  width: 249px;
  line-height: 1px;
  border: none;
  background-color: var(--light-gray);
}