.container {
<<<<<<< HEAD
  background-color: var(--white);
  width: 90%;
  padding: 16px;
  box-shadow: 0px 1px 30px var(--gray);
=======
  background-color: white;
  width: 90%;
  padding: 16px;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.5);
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
  border-radius: 6px;
}

.column-item--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
<<<<<<< HEAD
  background-color: var(--light-gray);
=======
  background-color: #ececec;
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
  width: 90%;
  padding: 16px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.5);
  border-radius: 6px;
  cursor: move;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-header h3 {
  font-weight: bold;
}

.card-header .delete-btn {
  border: none;
<<<<<<< HEAD
  background-color: var(--red);
  color: var(--white);
=======
  background-color: #fd565f;
  color: #fff;
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
  border-radius: 5px;
}
.card-content {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
.card-author {
<<<<<<< HEAD
  color: var(--transparency-gray);
=======
  color: #bdbdbd;
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
  font-size: 12px;
}

.column-item--card.dragging {
  opacity: 0.5;
}
<<<<<<< HEAD

.column-addBtn {
  background-color: white;
  border: 1px solid #86c6ff;
}

.card-title {
  width: 249px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.card-title:focus,
.card-content:focus {
  outline: none;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
}

.card-content {
  border: 1px solid #ddd;
  color: #333;
  font-size: 12px;
  width: 240px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.add-card--header {
  display: flex;
  flex-direction: column;
}

.card-addBtn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.registerBtn {
  background-color: #86c6ff;
  color: white;
}

.registerBtn:hover {
  background-color: #0075de;
}

.deleting {
  background-color: #ffd8d3;
  border: 1px solid #f00;
}

.delete-btn:hover {
  background-color: #f00;
}
=======
>>>>>>> 942bc9be9bdaaa540ee8c22f2bd16d3fa7911c1e
