.cardWritable {
  height: 140px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #0075de;
  border-radius: 6px;
}

.cardWritable.show {
  display: flex;
}

.headerArea {
  display: flex;
  height: 20px;
  padding: 0;
  justify-content: space-between;
}

.cardTitleInput {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  border: 0;
}

.cardDescInput {
  width: 100%;
  font-size: 14px;
  color: #828282;
  background-color: transparent;
  border: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 130px;
  height: 40px;
  cursor: pointer;
}

.cancelButton {
  font-weight: 400;
  font-size: 14px;
  color: #828282;
  background: #e0e0e0;
  border: 0;
  border-radius: 6px;
}

.addButton {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #0075de;
  border: 0;
  border-radius: 6px;
}

.deactiveButton {
  cursor: default;
  color: rgba(255, 255, 255, 0.4);
  background: #86c6ff;
}
