$blue: #0075DE;
$dark-blue: #00529B;
$light-blue: #86C6FF;

$white-red: #FFEEEC;
$red: #FF4343;

$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F5F5F7;

$black: #010101;
$white: #ffffff;