.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.titleWrap {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 10px;
}

.count {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: var(--dark-gray);
  border-radius: 100%;
}

.buttonArea {
  display: flex;
  align-items: center;
}

.buttonArea :not(:last-child) {
  margin-right: 10px;
}
