// display
.hidden-text {
  font-size: 0;
  color: transparent;
}

// button
.add-button {
  @include icon-button(14px, 14px, 5px, '../images/common/icon-add-gray.png');

  &:hover {
    background-image: url('../images/common/icon-add-blue.png');
  }
}

.delete-button {
  @include icon-button(12px, 12px, 5px, '../images/common/icon-close-gray.png');

  &:hover {
    background-image: url('../images/common/icon-close-red.png');
  }
}

.button-wrap {
  @include flex-box(flex-end, center, 8px);
}

.button {
  min-width: 134px;
  height: 40px;
  border-radius: 6px;
  color: $button-main-font-color;
}

.normal-button {
  @extend .button;
  background-color: $normal-button-color-default;
  color: $button-sub-font-color;

  &:hover {
    background-color: $normal-button-color-hover;
    color: $button-main-font-color;
  }
}

.accent-button {
  @extend .button;
  background-color: $accent-button-color-default;
  
  &:hover {
    background-color: $accent-button-color-hover;
  }

  &__disabled {
    @extend .button;
    background-color: $accent-button-color-disabled;
  }
}

