// color
$black: #010101;
$white: #fff;
$gray: #828282;
$light-gray: #bdbdbd;

//bg-color
$component-bg-color: $white;

//font-color
$main-font-color: $black;
$sub-font-color: $gray;

//button-color
$normal-button-color-hover: $gray;
$normal-button-color-default: #E0E0E0;
$accent-button-color-disabled: #86C6FF;
$accent-button-color-hover: #00529B;
$accent-button-color-default: #0075DE;
$button-main-font-color: $white;
$button-sub-font-color: $gray;

// font-size
$size-small: 0.857em; // 12px
$size-base: 1rem; // 14px
$size-medium: 1.142rem; // 16px
$size-large: 1.285rem; // 18px

// font-weigh
$weight-regular: 400;
$weight-bold: 700;
