@import '../common', '../variables';

header {
  position: absolute;
  width: 1440px;
  height: 112px;
  left: 0px;
  top: 0px;
  @extend %backbround-color;

  .title {
    position: absolute;
    height: 46px;
    left: 80px;
    top: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #010101;
  }
  & > .menu-icon {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1336px;
    top: 44px;
  }

  & > .menu-bar {
    position: absolute;
    width: 452px;
    height: 1024px;
    left: 988px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
      0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);

    & > .close-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 44px;
      right: 80px;
    }
  }

  .notification-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 332px;
    height: 548px;
    left: 40px;
    right: 80px;
    top: 80px;

    li {
      width: 332px;
      height: 137px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px;
      .user-img {
        width: 40px;
        height: 40px;
        background: url('../../assets/imoge/user\ img.png');
      }
      > .user-action {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 244px;
        height: 105px;

        > .user-name {
          width: 244px;
          height: 23px;

          color: #010101;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
        }
        > .event-info {
          width: 244px;
          height: 46px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 23px;

          @extend %black-color;
        }
        > .update-time {
          width: 244px;
          height: 20px;
          font-family: 'Noto Sans KR';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;

          @extend %gray3-color;
        }
      }
    }
  }
}
