/* button */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f7;
}

.column {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 308px;
  margin-right: 16px;
  left: 80px;
  top: 136px;
}

.column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.column-header .column-title {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.column-header .item-count {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.column-list .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
          box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
}

.column-list .item-info {
  width: 252px;
}

.column-list .item-info .item-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.column-list .item-info .item-content {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.column-list .item-info .item-caption {
  font-size: 12px;
  line-height: 17px;
  color: #bdbdbd;
}

.column-list .item-info .close-icon {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
}

/* button */
header {
  position: absolute;
  width: 1440px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: #f5f5f7;
}

header .title {
  position: absolute;
  height: 46px;
  left: 80px;
  top: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #010101;
}

header > .menu-icon {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1336px;
  top: 44px;
}

header > .menu-bar {
  position: absolute;
  width: 452px;
  height: 1024px;
  left: 988px;
  top: 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

header > .menu-bar > .close-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44px;
  right: 80px;
}

header .notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 332px;
  height: 548px;
  left: 40px;
  right: 80px;
  top: 80px;
}

header .notification-list li {
  width: 332px;
  height: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px;
}

header .notification-list li .user-img {
  width: 40px;
  height: 40px;
  background: url("../../assets/imoge/user img.png");
}

header .notification-list li > .user-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  width: 244px;
  height: 105px;
}

header .notification-list li > .user-action > .user-name {
  width: 244px;
  height: 23px;
  color: #010101;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

header .notification-list li > .user-action > .event-info {
  width: 244px;
  height: 46px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #010101;
}

header .notification-list li > .user-action > .update-time {
  width: 244px;
  height: 20px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
