spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:
  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql
#      data-locations: classpath:sql/data.sql
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
    level:
      web: DEBUG
