header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;

  .header__title {
    font-size: 2rem;
    font-weight: 600;
  }

  .header__menu-btn {
    background-image: url("@/images/menu.png");
    width: 24px;
    height: 24px;
    cursor: pointer;

    .is-opened {
      background-image: url("@/images/close.png");
    }
  }
}
