#side-menu-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  transition: width 0.3s ease-out;
  width: 452px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.hide {
  width: 0px !important;
  overflow: hidden;
}

.side-menu-bar__wrapper {
  // border: 1px solid black;
  margin: 50px 40px 0px 40px;
  width: 372px;
}

.side-menu-bar__wrapper .delete-btn {
  text-align: right;
}

.history-card {
  padding: 20px;
  // border: 1px solid green;
  min-height: 100px;
  display: flex;
}

.history-card__left {
  width: 20%;
  font-size: 35px;
  margin-top: 5px;
}

.history-card__right {
  width: 80%;
}

#user-name {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.history-card__content {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.history-card__time {
  margin-top: 10px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}
