html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

input:focus {
  outline: none;
}

input {
  padding: 0px;
}

textarea:focus {
  outline: none;
}

textarea {
  padding: 0px;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
}

.header__title {
  font-size: 32px;
  margin: 33px 0px;
}

.sidebar__menu-button {
  height: max-content;
  border: none;
  background-color: transparent;
  z-index: 2;
}

aside {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateX(452px);
  transition: 0.2s ease-out;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0px);
  transition: 0.2s ease-out;
}

.sidebar__scroll {
  overflow-y: scroll;
}
.sidebar__list {
  width: 452px;
  height: 100vh;
  padding: 80px 80px 80px 40px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
}
.sidebar__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 332px;
  height: 137px;
  background-color: #edf9e7;
  font-size: 16px;
}
.sidebar__item--profile {
  width: 40px;
  height: 40px;
  margin: 16px;
}
.sidebar__item section {
  margin: 16px 16px 16px 0px;
}
.sidebar__item--activity {
  width: 244px;
  height: auto;
  white-space: normal;
}
.sidebar__item--time-stamp {
  font-size: 14px;
  color: #828282;
}
.sidebar__item--nickname,
.sidebar__item--activity,
.sidebar__item--time-stamp {
  padding: 8px 0px;
}

.column__list {
  display: flex;
  padding-top: 24px;
  padding-left: 80px;
}
.column__list--delete-button:hover {
  cursor: pointer;
  filter: invert(41%) sepia(95%) saturate(2569%) hue-rotate(332deg) brightness(100%) contrast(110%);
}
.column__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 308px;
  margin-right: 16px;
}
.column__item--title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0px 8px;
}
.column__item--title-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1;
  padding-left: 5px;
}
.column__item--title-menu {
  display: flex;
}
.column__item--title-menu img {
  padding: 10px;
}
.column__title {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  padding-right: 8px;
}

.column__task--count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  flex-direction: row;
  width: 26px;
  height: 26px;
  padding: 0px;
  background: #bdbdbd;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
}
.column__task--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 308px;
  padding-top: 8px;
}
.column__task--item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 16px;
  width: inherit;
  min-height: 76px;
  padding: 16px;
  background: #fff;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
}
.column__task--item section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  height: 100%;
  border-radius: 8px;
}
.column__task--title {
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  border: none;
  line-height: 23px;
  color: #010101;
}
.column__task--comment {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  color: #010101;
  line-height: 20px;
  resize: none;
  overflow: hidden;
}
.column__task--author {
  font-family: "Noto Sans KR";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #bdbdbd;
  line-height: 17px;
}
.column__task--add-button:hover {
  cursor: pointer;
  filter: invert(48%) sepia(97%) saturate(5052%) hue-rotate(193deg) brightness(90%) contrast(101%);
}
.column__task--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column__task--button button {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  width: 134px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.column__task--cancel-button {
  background-color: #e0e0e0;
  margin-right: 8px;
}
.column__task--accent-button {
  background-color: #0075de;
}

.section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-card {
  border: 1px solid #0075de;
  box-shadow: 0px 1px 30px 0px #e0e0e04d;
}

.inactivation .column__task--accent-button {
  background-color: #86c6ff;
}

body {
  background-color: #e5e5e5;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
