$wrap: #f5f5f7;

$btn-accent-default:$blue;
$btn-accent-hover:#00529b;
$btn-accent-disabled:#86c6ff;

$btn-normal-hover:#828282;
$btn-normal-default:#e0e0e0;

$column-cnt: $gray;

$task-default: $white;
$task-delete: #ffeeec;


$task-btn: $gray;
$task-btn-add: $blue;
$task-btn-close: $red;

$task-box-shadow: rgba(224, 224, 224, .3);
$task-drag-box-shadow-top-left: rgba(204, 204, 204, .5);
$task-drag-box-shadow-btm-right: rgba(0, 0, 0, .25);
