.header {
  @include flex-box(space-between, center);
  min-height: $header-height;
}

.logo {
  font-size: 2.286rem;
}

.aside-button {
  @include icon-button(17px, 11px, 8px, '../images/common/icon-aside.png');
  box-sizing: content-box;
}
