$margin: 16px;
$list-width: 308px;

main {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: $list-width;
  margin-left: 80px;
  margin-right: $margin;
}

.column-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .column-title {
    display: inline-block;
    margin-bottom: $margin;
    padding: 0 16px;
    font-weight: 700;
    font-size: $font-size-18;
    line-height: 26px;
  }

  .item-count {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .close-icon {
    color: $gray4-color;
  }
}

.column-list {
  .list_item {
    display: flex;
    margin-bottom: $margin;
    padding: 16px;
    border-radius: 6px;
  }

  .item-info {
    width: 100%;

    .item-title {
      margin-bottom: 8px;
      font-size: $font-size-16;
      font-weight: 700;
      line-height: 23px;
    }

    .item-content {
      margin-bottom: 8px;
      font-size: $font-size-14;
      line-height: 20px;
    }

    .item-caption {
      font-size: $font-size-12;
      line-height: 17px;
      color: $gray4-color;
    }

    .close-icon {
      width: 10px;
      height: 10px;
      background-color: $gray5-color;
    }
  }
}

.layer {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;

  .alert {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 400px;
    padding: 24px;
    transform: translate(-50%, -50%);
    background: $white-color;
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
      0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 6px;

    @include font_style(400, 18px, 26px);

    .alert_message {
      margin-bottom: 24px;
      width: 100%;
      text-align: left;
    }

    .normal-btn {
      margin-right: 8px;
    }
    .accent-btn {
      color: $white-color;
    }
  }
}
