@import "_shared.scss";


.todo-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 332px;
  height: auto;

  &.first {
    left: 20px;
  }

  &.second {
    left: 404px;
  }

  &.third {
    left: 800px;
  } 

  top: 80px;

  @include todo-card($background:White, $border:shadow_normal);
}
  

.todo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
 
  position: static;
  width: 340px;
  height: 26px;
  left: 0px;
  top: 0px;
 
  @include flex_none(0, 16px, 0px);

  .todo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    @include custom_static($top: 0px, $left: 8px);
    width: 250px;
    height: 26px;
 
    @include flex_none(0, 0px, 8px);

    .count {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      @include ustom_static($left: 79px, $top: 0px);
      width: 26px;
      height: 26px;
  
      @extend %Gray_4;
      border-radius: 20px;
 
      @include flex_none(1, 0px, 8px);
    }
  }

  .add {
    @include custom_static($left: 244px, $top: 1px);
    width: 24px;
    height: 24px;
    @include flex_none(1, 0, 8px);
    @extend %add_svg;
  }

  .delete {
    @include custom_static($left: 276px, $top: 1px);
    width: 24px;
    height: 24px;
    @include flex_none(2, 0px, 8px);
    @extend %delete_svg;
  }
}

