@use "sass:meta";

@mixin custom_font($args...) {
  @each $keyword, $prop in meta.keywords($args) {
    font-#{$keyword}: $prop;
  }
}
 
@mixin custom_absolute($args...) {
  position: absolute;
  @each $pos, $num in meta.keywords($args) {
    #{$pos}: $num;
  }
}

@mixin custom_static($args...) {
  position: static;
  @each $pos, $num in meta.keywords($args) {
    #{$pos} : $num;
  }
}


@mixin width_height($args...) {
  @each $pos, $num in meta.keywords($args) {
    #{$pos}: $num;
  }
}


%Black {
  color: #010101;
}

%White {
  background: #FFFFFF;
} 

%Gray_4 {
  color: #bdbdbd;
}

%Blue_svg {
  background: #0075DE;
}

%shadow_normal {
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
}

%White_red {
  background: #FFEEEC;
}

%border_red {
  border: 1px solid #FF4343;
  box-sizing: border-box;
}

%shadow_up {
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

%background_up {
  background: rgba(255, 255, 255, 0.8);
}

%remain_color {
  background: #FFFFFF;
  opacity: 0.4;  
}

%border_blue {
  border: 1px solid #0075DE;
  box-sizing: border-box;
}
 
@mixin flex_none($order:0, $margin-x,$margin-y ) {
  flex: none;
  flex-grow: 0;
  order: $order;
  margin: $margin-x, $margin-y;
}

%card_flex {
  flex: none;
  flex-grow: 0;
  margin: 8px 0px;
}
 
%add_svg {

  position: absolute;
  left: 21.27%;
  right: 21.27%;
  top: 21.27%;
  bottom: 21.27%;
  @extend %Gray_4;
}

%delete_svg {

  position: absolute;
  left: 28.12%;
  right: 28.12%;
  top: 28.12%;
  bottom: 28.12%;
  @extend %Gray_4;
}

@mixin todo_card($background, $border) { 
  .wrapper { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
 
    @include custom_static($left:16px, $top:16px); 
    width: 252px;
    height: 76px; 

    border-radius: 8px; 
    @include flex_none(0, 0, 0); 


    .card-title {
      @include shared.custom_static($position: static, $left: 0, $top: 0);
      width: 252px;
      height: 23px;
      @include shared.custom_font($family: 'Noto Sans KR', $style: normal, $weight: 700, $size: 16px);
      line-height: 23px; 
      @extend %Black;
   
      @include shared.flex_none(0, 0px, 8px);
    }
  
    .card-content {
      @include shared.custom_static($left: 0px, $top: 31px);
      @include shared.custom_font($family: "Noto Sans KR", $style: normal, $weight: 400, $size: 14px);
      width: 252px;
      height: 20px;      line-height: 20px;
   
      @extend %Black;
     
      @include shared.flex_none(1, 0, 8px);
    }
  
    .card-caption {
      position: static;
      width: 252px;
      height: 17px;
      left: 0px;
      top: 59px;
  
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
   
      @extend %Gray_4; 
      @include shared.flex_none(2, 0, 8px);
    } 
  }

  .delete-card {  
    @include custom_static($left:268px, $top:16px); 
    width: 24px;
    height: 24px; 
 
    @include flex_none(1, 0, 0);  
    @extend %delete_svg;
  }

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  @include custom_absolute($left:20px, $top:20px); 
  width: 308px;
  height: 108px;  

  @extend %#{$background};
  @extend %#{$border}; 
}