@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.todo-header {
  /* background */
  width: 1440px;
  height: 112px;
  left: 0px;
  top: 0px;
  /* Gray 6 */
  background: #f5f5f7;
}
.todo-header svg {
  float: right;
  /* Vector */
  position: absolute;
  right: 16.67%;
  top: 5.17%;
  bottom: 25%;
}

.todo-header-title {
  /* logo */
  position: absolute;
  width: 171px;
  height: 46px;
  left: 80px;
  top: 33px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  /* Black */
  color: #010101;
}

.menu-sidebar-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1336px;
  top: 44px;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  display: none;
  position: absolute;
  width: 332px;
  height: 548px;
  left: 1028px;
  top: 80px;
}

.wrapper .card-title, .wrapper .card-content {
  color: #010101;
}

.wrapper .card-caption, .todo-title .todo-name .count, .todo-title .delete, .todo-title .add {
  color: #bdbdbd;
}

.todo-title .add {
  position: absolute;
  left: 21.27%;
  right: 21.27%;
  top: 21.27%;
  bottom: 21.27%;
}

.todo-title .delete {
  position: absolute;
  left: 28.12%;
  right: 28.12%;
  top: 28.12%;
  bottom: 28.12%;
}

.todo-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 332px;
  height: auto;
  top: 80px;
}
.todo-column.first {
  left: 20px;
}
.todo-column.second {
  left: 404px;
}
.todo-column.third {
  left: 800px;
}

.todo-card {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
  width: 308px;
  height: auto;
  left: 0px;
  top: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
}
.todo-card .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 252px;
  height: auto;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.wrapper .card-title {
  position: static;
  position: static;
  left: 0;
  top: 0;
  width: 252px;
  height: 23px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  /* Black */
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 0px, 8px;
}
.wrapper .card-content {
  position: static;
  left: 0px;
  top: 31px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 252px;
  height: 20px;
  line-height: 20px;
  /* Black */
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 1;
  margin: 0, 8px;
}
.wrapper .card-caption {
  position: static;
  width: 252px;
  height: 17px;
  left: 0px;
  top: 59px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* Gray 4 */
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 2;
  margin: 0, 8px;
}

.todo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  position: static;
  width: 340px;
  height: 26px;
  left: 0px;
  top: 0px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 16px, 0px;
}
.todo-title .todo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  top: 0px;
  left: 8px;
  width: 250px;
  height: 26px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 0px, 8px;
}
.todo-title .todo-name .count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  left: 79px;
  top: 0px;
  width: 26px;
  height: 26px;
  /* Gray 4 */
  border-radius: 20px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 1;
  margin: 0px, 8px;
}
.todo-title .add {
  position: static;
  left: 244px;
  top: 1px;
  width: 24px;
  height: 24px;
  flex: none;
  flex-grow: 0;
  order: 1;
  margin: 0, 8px;
}
.todo-title .delete {
  position: static;
  left: 276px;
  top: 1px;
  width: 24px;
  height: 24px;
  flex: none;
  flex-grow: 0;
  order: 2;
  margin: 0px, 8px;
}

body {
  /* 01 메인 */
  position: relative;
  width: 1440px;
  height: 1024px;
  /* Gray 6 */
  background: #f5f5f7;
}

/*# sourceMappingURL=index.css.map */
