$black: #000;
$white: #FFF;
$light-gray: #E0E0E0;
$dark-gray: #828282;
$gray:#bdbdbd;
$blue: #0075DE;
$light-blue: #86C6FF;
$background-color: #f5f5f7;
$white-red: #FFEEEC;
$red: #FF4343;

$column-width: 308px;