$component-bg-color: #fff;

$main-font-color: #010101;
$sub-font-color: #828282;

$root-font-size: 16px;
$font-16px: 1rem;
$font-14px: 0.875rem;
$font-12px: 0.75rem;

$normal-button-color-hover: #828282;
$normal-button-color-default: #E0E0E0;
$accent-button-color-disabled: #86C6FF;
$accent-button-color-hover: #00529B;
$accent-button-color-default: #0075DE;
$button-main-font-color: #fff;
$button-sub-font-color: #828282;