* {
    font-family: "Noto Sans KR";
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    background: #f5f5f7;
    position: relative;
    min-width: 1440px;
    height: 100vh;
}

$colors: (
    black: #010101,
    gray: #bdbdbd,
    light-gray: #e0e0e0,
    white: #ffffff,
    dark-gray: #828282,
    merona: #f4fce3,
    blue: #0075de,
    inactive-blue: #86c6ff,
);

.show {
    visibility: visible;
    width: 452px;
}

.hide {
    visibility: hidden;
    width: 0px;
}

input {
    border: none;
    &:focus {
        outline: none;
    }
}

button {
    border: none;
}

.active {
    background-color: map-get($colors, blue);
}
