/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans KR";
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  background: #f5f5f7;
  position: relative;
  min-width: 1440px;
  height: 100vh;
}

.show {
  visibility: visible;
  width: 452px;
}

.hide {
  visibility: hidden;
  width: 0px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
}

.active {
  background-color: #0075de;
}

#header {
  height: 112px;
  display: flex;
  justify-content: unset;
  align-items: center;
}

#header__title {
  width: 171px;
  height: 46px;
  margin-left: 80px;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 46px;
  color: #010101;
}

#header__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 84px;
  width: 25px;
  height: 25px;
}

#main {
  padding: 24px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.schedule-column {
  width: 308px;
}

.schedule-column__header {
  display: flex;
  justify-content: unset;
  align-items: center;
}

.schedule-column__title {
  height: 26px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 26px;
  color: #010101;
  margin: 0px 8px;
}

.schedule-column__count-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 26px;
  height: 26px;
  background: #bdbdbd;
  border-radius: 20px;
  margin: 0 auto 0 0;
}

.schedule-column__count-number {
  width: 26px;
  height: 26px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  display: flex;
  justify-content: unset;
  align-items: center;
  text-align: center;
  color: #010101;
  margin: 0px 10px;
}

.schedule-column__add-btn:hover path {
  fill: #0075de;
}

.schedule-column__cards-container {
  height: 500px;
  overflow-y: scroll;
}

.schedule-column__cards-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.column-btn {
  width: 12px;
  height: 12px;
  margin: 0px 8px;
}

.schedule-card {
  display: flex;
  justify-content: auto;
  align-items: flex-start;
  padding: 16px;
  width: 308px;
  min-height: 108px;
  background: #ffffff;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
  margin: 16px 0px;
}

.schedule-card__text-container {
  flex-direction: column;
  display: flex;
  justify-content: auto;
  align-items: flex-start;
  width: 252px;
  min-height: 76px;
}

.schedule-card__title {
  min-height: 23px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 23px;
  color: #010101;
}

.schedule-card__body {
  min-height: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  color: #010101;
  margin: 8px 0px;
}

.schedule-card__caption {
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #bdbdbd;
}

.schedule-card__delete-btn {
  margin-left: auto;
  width: 12px;
  height: 12px;
}

.schedule-register-card {
  display: flex;
  justify-content: auto;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  width: 308px;
  min-height: 108px;
  background: #ffffff;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
  margin: 16px 0px;
  border: 1px solid #0075de;
}

.schedule-register-card__text-container {
  flex-direction: column;
  display: flex;
  justify-content: auto;
  align-items: flex-start;
  width: 252px;
  min-height: 76px;
}

.schedule-register-card__title {
  min-height: 23px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 23px;
  color: #010101;
}

.schedule-register-card__body {
  min-height: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  color: #010101;
  margin: 8px 0px;
}

.schedule-register-card__btns-container {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

.schedule-register-card__cancel-btn {
  padding: 10px;
  width: 134px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #828282;
}

.schedule-register-card__register-btn {
  padding: 10px;
  width: 134px;
  height: 40px;
  background: #86c6ff;
  border-radius: 6px;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

#history {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  padding: 40px 50px;
  transition: all 0.25s;
}

.history__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-left: auto;
  margin-bottom: 18.75px;
}

.history__item-list {
  height: 100%;
  overflow-y: scroll;
}

.history__item-list::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.history__item-container {
  display: flex;
  justify-content: unset;
  align-items: unset;
  padding: 16px;
  background-color: #f4fce3;
}

.history__user-img-container {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 20px;
  overflow: hidden;
}

.history__user-img {
  width: 100%;
  object-fit: cover;
}

.history__text-container {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
}

.history__user-name {
  width: 244px;
  height: 23px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 23px;
  color: #010101;
}

.history__body {
  width: 244px;
  height: 46px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 23px;
  margin: 8px 0px;
  color: #010101;
}

.history__time-stamp {
  width: 244px;
  height: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  color: #828282;
}
/*# sourceMappingURL=style.css.map */