body {
  background-color: $gray-body;
  margin: 0 auto;
  overflow: hidden;
}

.todo-container {
  position: relative;
  max-width: 1440px;
  min-width: 600px;
  height: 500px;
  max-height: 1024px;
  margin: 0 auto;
  padding: 33px 80px;

  .column--add-btn {
    position: absolute;
    right: 75px;
    bottom: 0;
  }
}

.main {
}
