// color
$backbround-color: #f5f5f7;
$white-color: #fff;
$black-color: #000;

$red-color: #ff4343;
$white-red-color: #ffeeec;

$blue-color: #0075de;
$darkblue-color: #00529b;
$lightblue-color: #86c6ff;

$gray3-color: #828282;
$gray4-color: #bdbdbd;
$gray5-color: #e0e0e0;

// font
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
