@import './_variables', './_reset', './icons', './_common', './body/_body',
  './header/_headerBar';

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: $backbround-color;
}
