@import './_variables', './_reset', './_common', './body/_body',
  './header/_headerBar';

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: $backbround-color;
}
