$btn-accent-default:$blue;
$btn-accent-hover:#00529b;
$btn-accent-disabled:#86c6ff;

$btn-normal-hover:#828282;
$btn-normal-default:#e0e0e0;

$column-cnt: $gray;

$card-default: $white;
$card-delete: $red;

$card-btn: $gray;
$card-btn-add: $blue;
$card-btn-close: $red;
