$font-xlarge: 1.8rem;
$font-large: 1.6rem;
$font-medium: 1.4rem;
$font-small: 1.2rem;

$wgt-medium: 400;
$wgt-large: 700;

$column-title-fs: $font-xlarge;
$column-title-wgt: $wgt-large;
$column-title-color: $black;

$column-cnt-fs: $font-medium;
$column-cnt-wgt: $wgt-large;
$column-cnt-color: $black;

$task-title-fs: $font-large;
$task-title-wgt: $wgt-large;
$task-title-color: $black;

$task-body-fs: $font-medium;
$task-body-wgt: $wgt-medium;
$task-body-color: $black;

$task-author-fs: $font-small;
$task-author-wgt: $wgt-medium;
$task-author-color: $gray;

$btn-fs: $font-medium;
$btn-wgt: $wgt-medium;
$btn-color: $white;
