.log-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: red;
  padding: 40px;

  .log-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .log-card-wrapper {
    display: flex;
    width: 320px;
    height: 130px;
    background-color: blue;

    .log-image-wrapper {
      width: 15%;
      height: 60px;
      padding: 15px;
      font-size: 28px;
    }

    .log-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: calc(100%-15px);
      padding: 15px;
      background-color: yellow;
    }
  }
}
