.menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 452px;
  height: 100%;
  padding: 80px 80px 80px 40px;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 100;
  box-sizing: border-box;
  transition: 0.5s;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 80px;
    width: 12px;
  }

  .history {
    display: flex;
    padding: 1rem;

    .emoji {
      font-size: 2rem;
      padding: 0 1rem;
    }

    .user-behavior {
      $content-padding: 8px 0;
      @mixin content-setting {
        font-family: "Noto Sans KR";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
      }
      display: flex;
      flex-direction: column;

      .user {
        @include content-setting();
        color: #010101;
      }

      .behavior {
        padding: $content-padding;

        .user-state {
          @include content-setting();
          font-weight: 700;
        }
      }

      .time {
        padding: $content-padding;
        font-size: 14px;
        color: #828282;
      }
    }
  }
}
