.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: white;
  width: 452px;
  height: 100%;
  padding: 45px 80px 80px 40px;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 100;
  box-sizing: border-box;
  transition: 0.5s;

  .action-alert {
    font-family: "Noto Sans KR";
    width: 452px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7rem;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    transition: 0.5s;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .hidden-alert {
    top: -38px;
  }

  .close-button {
    cursor: pointer;
    align-self: end;
    width: 12px;
  }

  .history {
    display: flex;
    padding: 1rem;

    .emoji {
      font-size: 2rem;
      padding: 0 1rem;
    }

    .user-behavior {
      $content-padding: 8px 0;
      @mixin content-setting {
        font-family: "Noto Sans KR";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
      }
      display: flex;
      flex-direction: column;

      .user {
        @include content-setting();
        color: #010101;
      }

      .behavior {
        padding: $content-padding;

        .user-state {
          @include content-setting();
          font-weight: 700;
        }
      }

      .time {
        padding: $content-padding;
        font-size: 14px;
        color: #828282;
      }
    }
  }
}

.hidden-menu {
  right: -452px;
}

.display-none {
  display: none;
}
